.main-container{
    min-width: 480px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title-container h1 {
    font-size: x-large;
}

.close-button {
    font-size: larger;
}

.lists-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--background-color);
    height: 400px;
    padding: 16px;
    border-radius: 5%;
    margin-top: 16px;

    overflow-y: auto;
    scrollbar-color: var(--input-background-color) var(--background-color);
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.list-item p {
    font-size: large;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 16px;
}

.new-list-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}


.new-list-div button {
    width: fit-content;
    font-size: large;
    background: none;
    border: none;
    color: var(--light-gray);
    cursor: pointer;
}

.new-list-div button:hover {
    color: white;
}
