.form-div {
    width: 480px;
}

.header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-div h1 {
    font-size: x-large;
}

.header-div button {
    font-size: larger;
}

.label-input-div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label-input-div label {
    font-size: medium;
    text-transform: uppercase;
}

.label-input-div input{
    font-size: larger;
    color: white;
    background-color: var(--background-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.reviews-div {
    display: flex;
    flex-direction: column;
    gap: 16px;   
    background-color: var(--background-color);
    padding: 16px; 
    border-radius: 8px;

    min-height: 256px;
    max-height: 312px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--input-background-color) var(--background-color);
}

.action-buttons-div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: right;
}
