.form {
    width: fit-content;
    max-width: 100%;
}

.image-and-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputs-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons button {
    
    background-color: var(--background-color);
}

.buttons button:hover {
    background-color: var(--background-color);
    outline: solid 2px var(--positive-color);
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-input label {
    font-size: medium;
    color: var(--light-gray);
}

.label-input input {
    background-color: var(--background-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.label-input textarea {
    background-color: var(--background-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: large;
    resize: none;
    height: 80px;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

@media screen and (max-width: 750px) {
    .image-and-inputs {
        flex-direction: column;
    }

}