.form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 400px;
    max-width: 100%;
}

.form textarea {
    resize: none;
    background-color: var(--background-color);
    color: white;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: medium;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10px;
}