.general-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    margin-top: 32px;
}

.general-container .back-link {
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    margin-bottom: 8px;

    font-size: large;
}

.general-container > a {
    font-size: larger;
    text-decoration: none;
    color: var(--blue-gray);
}

.general-container a:hover {
    color: var(--light-gray);
}

.review-div {
    padding-top: 10px;
    border-top: solid var(--blue-gray) 2px;
}

.options-bar-div{
    padding: 10px 0; 
    border-bottom: solid var(--blue-gray) 2px;
}
