.general-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-section select {
    font-size: large;
    text-align: center;
    background-color: var(--input-background-color);
    color: white;
    padding: 6px;
    border-radius: 8px;
    border: none;
}

.header-section select:focus {
    border: none;
    outline: none;
}

.header-section h1 {
    font-family: "Inknut Antiqua";
    margin: 24px 0;
    font-size: x-large;
    font-weight: 400;
    line-height: 1rem;
}