.general-container {
    display: flex;
    flex-direction: column;
    /* max-width: 800px; */
    width: 100%;
    margin: 0 auto;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-section h1 {
    font-family: "Inknut Antiqua";
    margin: 24px 0;
    font-size: x-large;
    font-weight: 400;
    line-height: 1rem;
}

.select-div {
    display: flex;
    gap: 8px;
}

.filters-button{
    height: 34px;
    background-color: var(--secondary-background-color);
    font-size: 1.1rem;
}

.filter-icon {
    font-size: 1.4rem;
}

.content-div{
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.no-more-lists-message {
    margin: 30px auto;
    color: var(--light-gray);
    font-weight: 400;
}

@media screen and (max-width: 450px) {
    .header-section h1 {
        font-size: 1.2rem;
    }

    .filters-button{
        font-size: 0.8rem;
    }
    
    .filter-icon {
        font-size: 0.8rem;
    }
}