.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    margin-top: 16px;

    max-width: 800px;
    width: 100%;
}

.header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.title-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-bottom: 3px;
}

.title-div h1 {
    font-family: "Inknut Antiqua";
    line-height: 1.3rem;
    font-weight: 500;
    text-align: start;
    font-size: x-large;
}

.title-div h2 {
    font-size: large;
    color: var(--blue-gray);
    font-weight: 400;

}

.title-div a {
    text-decoration: none;
    color: var(--blue-gray);
}

.title-div a:hover {
    color: var(--light-gray);
}

.author-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.author-div img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.reviews-div {
    width: 100%;
}

.reviews-div > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.reviews-div li {
    padding: 16px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
}

.page-buttons-div {
    margin-top: 16px;
}

.options-bar-div {
    border-top: solid var(--blue-gray);
    border-bottom: solid var(--blue-gray);
    margin-top: 16px;
    padding: 10px 0; 
    width: 100%;
}

.empty-warning {
    margin: 80px 0;
    text-align: center;
    font-size: large;
    color: var(--light-gray);
}

@media screen and (max-width: 450px) {
    .main-container {
        margin-top: 8px;
    }

    .title-div h1 {
        font-size: 1.1rem;
    }

    .title-div h2 {
        font-size: 0.8rem;
    }
    
    .empty-warning {
        font-size: 1rem;
    }

    .reviews-div ul {
        gap: 10px;
    }

    .reviews-div li {
        padding: 10px;
    }
}