.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 800px;

}

.header-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.title-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 3px;
}

.title-div h1 {
    font-family: "Inknut Antiqua";
    line-height: 1.0rem;
    font-weight: 500;
    text-align: start;
    text-align: start;
    font-size: x-large;
}

.title-div h2 {
    font-size: large;
    color: var(--blue-gray);
    font-weight: 400;

}

.title-div a {
    text-decoration: none;
    color: var(--blue-gray);
}

.title-div a:hover {
    color: var(--light-gray);
}

.author-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.author-div img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.select-div select{
    font-size: medium;
    text-align: center;
    background-color: var(--secondary-background-color);
    color: white;
    padding: 6px;
    border-radius: 8px;
    border: none;
}

.select-div select:focus {
    border: none;
    outline: none;
}

.reviews-div {
    width: 100%;
}

.reviews-div > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.reviews-div li {
    padding: 16px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
}

.options-bar-div {
    border-top: solid var(--blue-gray);
    border-bottom: solid var(--blue-gray);
    margin-top: 16px;
    padding: 10px 0; 
    width: 100%;
}

.empty-warning {
    margin: 80px 0;
    text-align: center;
    font-size: large;
    color: var(--light-gray);
}