.profile-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 32px;
    padding: 16px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13);

    flex-wrap: wrap;
}

.profile-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: start;
}

.username-div {
    flex-grow: 1;
    display: grid;
    gap: 10px;

    min-width: 250px;
}

.username-div h2{
    font-family: "Inknut Antiqua";
    line-height: 1.3rem;
}

.username-div p {
    width: fit-content;
    max-width: 450px;
    color: var(--light-gray);

    word-wrap: break-word;
    white-space: pre-line;
    line-height: 1.3rem;
}

.social-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: right;
    flex-grow: 1;
}

.social-info p {
    cursor: pointer;
    color: var(--blue-gray);
}
.social-info p:hover {
    cursor: pointer;
    color: var(--light-gray);
}

.social-info button {
    cursor: pointer;
    background: none;
    width: 90px;
    padding: 5px;
    border-radius: 8px;
    border: solid var(--blue-gray) 2px; 
    color: var(--light-gray);
}

.social-info button:hover {
    color: white;  
    border: solid var(--light-gray) 2px;
}

.social-info .follow-button:hover {
    border: solid var(--positive-color) 2px;
}

.social-info .unfollow-button:hover{
    border: solid var(--error-color) 2px;
}

.image-container{
    position: relative;
    display: flex;
    overflow: hidden;

    max-width: 192px;
    max-height: 192px;
    background-color: var(--input-background-color);
    box-shadow: rgb(0, 0, 0, 0.281) 0px 0px 32px;
    border-radius: 5px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.post-container {
    margin-top: 64px;
}


@media screen and (max-width: 750px) {
    .profile-div {
        margin-top: 8px;
    }

    .image-container {
        width: 64px;
        height: 64px;
    }
}

