.form {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    width: 500px;
    max-width: 100%;
    height: fit-content;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.title-rating input {
    background: none;
    border: none;
    color: white;
    font-size: larger;
}

.title-rating input:focus {
    outline: none;
}

.title-input {
    flex-grow: 1;
}

.title-input input { 
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    width: 100%;
}

.rating-input {
    font-size: large;
    font-weight: 700;
    flex-wrap: nowrap;
}

.rating-input input {
    width: 56px;
    text-align: end;
}

.form textarea {
    border: none;
    padding: 15px;
    width: 100%;
    height: 200px;
    font-size: large;
    color: white;
    background-color: var(--input-background-color);
    border-radius: 10px;
    resize: none;
}

input[type="file"] button{
    color: white;
}

.select-div {
    display: grid;
    font-size: mediu;
    text-transform: uppercase;
    font-weight: 500;
    gap: 8px;
}

.select-div select {
    border: none;
    font-size: larger;
    color: white;
    background-color: var(--input-background-color);
}

.image-picker-div  {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image-picker-div label {
    font-size: medium;
    text-transform: uppercase;
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px
}

@media screen and (max-width: 450px) {

    .title-rating {
        display: flex;
        align-items: center;
    }

    .title-rating input {
        background: none;
        border: none;
        color: white;
    }

    .rating-input {
        display: flex;
        font-size: x-large;
    }

    .form textarea {
        height: 240px;
        font-size: medium;
    }
}


