.container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    min-height: 224px;
    
    flex-shrink: 1;
}

.container ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 100%;
}

.container li{
    display: flex;
    justify-content: center;
    flex: 1;
}

/* ul.less-than-four {
    gap: 32px;
    justify-content: left;
}  */

.container h2{
    color: var(--blue-gray);
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;

    color: white;

    line-height: 0.6rem;
    padding-bottom: 8px;
    border-bottom: solid var(--blue-gray) 1.5px;
}

.container-header a {
    color: var(--blue-gray);
    text-decoration: none;
}

.container-header a:hover {
    color: white;
}

.container-header h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.container span {
    height: 1px;
    width: 100%;
    background-color: var(--blue-gray);
}

@media screen and (max-width: 450px) {
    .container ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
    }

    .container li {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
}
