.main-container {
    height: fit-content;
}

.main-container > input{
    display: none;
}

.image-section{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 8px;
    overflow-y: auto;
    scrollbar-color: var(--input-background-color) var(--background-color);
}

.image-container{
    position: relative;
    display: flex;
    width: 87px;
    height: 87px;
    overflow: hidden;
    border-radius: 16px;
    flex-shrink: 0;

    background-color: var(--input-background-color);

}

.image-container img{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.image-container .delete-button {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1rem;

    width: 24px;
    height: 24px;
    margin: 8px;
    border-radius: 16px;

    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
}

.image-container .delete-button:hover {
    color: var(--error-color);
}

.add-image-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 128px;

    background-color: var(--input-background-color);
    color: var(--dark-gray);
    border: none;
}

.add-image-button:hover {
    /* background-color: var(--blue-gray); */
    color: var(--light-gray);
    /* color: var(--positive-color); */
} 