.card {
    display: flex;
    flex-direction: column;
    margin-top: 16px !important;
    width: fit-content;
    margin: auto;
    padding: 40px;
    border-radius: 16px;
    gap: 16px;   
}

.card .message-div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card h1 {
    font-family: "Inknut Antiqua";
    line-height: 1rem;
    font-size: x-large;
}
