.form {
    background-color: var(--secondary-background-color);
    min-width: 700px;
    width: 900px;
    height: fit-content;
    padding: 4rem;
    border-radius: 1.3rem;
    margin: 100px auto;
    box-shadow: rgba(0, 0, 0, 0.281) 0px 0px 2rem;
}

.title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
}

.title-rating input {
    background: none;
    border: none;
    color: white;
    font-size: xx-large;
}

.title-rating input:focus {
    outline: none;
}

.title-input {
    flex-grow: 1;
}

.title-input input { 
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    width: 100%;
}

.rating-input {
    font-size: xx-large;
    font-weight: 700;
    flex-wrap: nowrap;
}

.rating-input input {
    width: 3.5rem;
    text-align: end;
}

form textarea {
    border: none;
    padding: 15px;
    width: 100%;
    height: 30rem;
    font-size: x-large;
    color: white;
    background-color: var(--input-background-color);
    border-radius: 1rem;
    resize: none;
}

input[type="file"] button{
    color: white;
}

.select-div {
    display: grid;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 700;
    gap: 0.5rem;
}

.select-div select {
    border: none;
    font-size: larger;
    color: white;
    background-color: var(--input-background-color);
}

.image-picker-div  {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image-picker-div label {
    font-size: larger;
    text-transform: uppercase;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px
}

@media screen and (max-width: 750px) {
    .form{
        min-width: 0;
        width: 90%;
        padding: 1rem;
    }

    .title-rating {
        display: flex;
        align-items: center;
    }

    .title-rating input {
        background: none;
        border: none;
        color: white;
        font-size: x-large;
        width: 100%;
    }

    .rating-input {
        display: flex;
        font-size: x-large;
    }

    .form textarea {
        height: 15rem;
        font-size: large;
    }
}


