.general-container{
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: auto;
    margin-top: 2rem;
}

.general-container .back-link {
    font-size: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 0.5rem;

    font-size: large;
}

.general-container > a {
    font-size: larger;
    text-decoration: none;
    color: var(--blue-gray);
}

.general-container a:hover {
    color: var(--light-gray);
}

.review-div {
    padding-top: 0.6rem;
    border-top: solid var(--blue-gray) 2px;
}

.options-bar-div{
    padding: 0.6rem 0rem; 
    border-bottom: solid var(--blue-gray) 2px;
}
