.new-list-form{
    width: 400px;
    max-width: 100%;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-div h1 {
    font-size: x-large;
}

.header-div button {
    font-size: larger;
}

.inputs-div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.label-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-input label {
    font-size:medium;

    color: var(--light-gray);
}

.label-input input {
    background-color: var(--background-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-size: large;
}

.action-buttons-div {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: right;
}