.modal {
    margin: auto;
    padding: 40px;
    border-radius: 5%;
    background-color: var(--secondary-background-color);
    color: white;
    border: none;
    box-shadow:  rgba(0, 0, 0, 0.281) 0px 0px 2rem;
}

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.358);
    backdrop-filter: blur(4px);
}