.posts-section {
    width: 800px;
    margin: auto;
}

.posts-section ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    list-style: none;
}

.posts-section li {
    padding: 16px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
}