.posts-section {
    width: 100%;
    margin: auto;
}

.posts-section ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 16px;
    list-style: none;
}

.posts-section li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
}

@media screen and (max-width: 450px) {
    .posts-section ul {
        gap: 10px;
    }
    
    .posts-section li {
        padding: 10px;
    }
}