.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--secondary-background-color);
    padding: 0 48px;
/* 
    min-width: var(--header-min-width); */
    height: var(--header-height);
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-wrap: nowrap;
}

.header-logo h1{
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    cursor: pointer;
}

.header-logo img {
    width: 75px;
    cursor: pointer;
}

.search-bar-form{
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: fit-content;
    height: 32px;

    position: absolute;
    left: 50%;
    translate: -50% 0%;

    border-radius: 8px;
}

.search-bar-form:focus-within{
    outline: solid var(--light-gray);
}

.search-bar {
    background-color: var(--input-background-color);
    color: white;
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 0 16px;
    font-size: medium;
    width: 400px;
}

.search-bar:focus {
    outline: none;
}

.search-bar-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-background-color);
    border: none;

    border-radius: 0px 8px 8px 0px;
    padding: 0px 8px;
    color: var(--light-gray);
    cursor: pointer;
}

.search-bar-form button:hover{
    color: white;
}

.search-bar-form button:active{
    color: var(--light-gray);
}

.search-bar-form button span {
    font-size: x-large;
}

@media screen and (max-width: 1050px) {
    .search-bar-form{
        position: relative;
        translate: 0% 0%;
        width: 320px;
        left: auto
    }
}

@media screen and (max-width: 750px) {
    .header{
        width: 100%;
        padding: 10px;
        font-size: 0.6rem;
        height: var(--header-height-mobile);
        justify-content: space-between;

        gap: 10px;
    }

    .header-logo {
        gap: 5px;
    }

    .header-logo img {
        width: 48px;
    }

    .header-logo h1 {
        display: none;
    }

    .search-bar {
        width: 100%;
    }

}