.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--secondary-background-color);
    padding: 0 48px;
    margin: 0 auto;
    width: var(--header-width);
    min-width: var(--header-min-width);
    height: var(--header-height);

}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    flex-wrap: nowrap;
}

.header-logo h1{
    font-family: "Inknut Antiqua", serif;
    font-weight: 500;
    cursor: pointer;
}

.header-logo img {
    width: 75px;
    cursor: pointer;
}

.search-bar-form{
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 500px;
    height: 32px;

    position: absolute;
    left: 50%;
    translate: -50% 0%;
}

.search-bar {
    background-color: var(--input-background-color);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 0 16px;
    font-size: medium;
    width: 400px;
}

@media screen and (max-width: 1050px) {
    .search-bar-form{
        position: relative;
        translate: 0% 0%;
        width: 320px;
        left: auto
    }
}

@media screen and (max-width: 750px) {
    .header{
        min-width: 100%;
        margin: auto;
        font-size: smaller;
    }

    .search-bar-form {
        visibility: hidden;
    }
}