.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.side-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--secondary-background-color);
    top: var(--header-height);
    right: 0;
    
    height: calc(100vh - var(--header-height));
    width: fit-content;
    

    padding: 1rem 0;
    
    /* Experimental */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.269) 0px 0px 2rem;
    margin: 1rem;
    height: calc(100vh - var(--header-height) - 2*1rem);
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
}

.side-menu li {
    margin: 0 1rem;
    /* border-bottom: solid var(--blue-gray) 2px; */
    border-radius: 0.5rem;
}

.side-menu li:hover {
    background-color: rgba(0, 0, 0, 0.215);
    cursor: pointer;
}

.side-menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.2rem;
}

.side-menu .menu-icon {
    font-size: 1.6rem;
}

.logout-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.invisible-click-wall{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    overflow: hidden;

    z-index: 999;
}

