.grabber {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
    padding: 3px 6px;
    margin: 0 5px 0 0;  
    touch-action: none;

}

.grabber:hover {
    .dot{
        background-color: gray;
    }
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.dot {
    width: 4px;
    height: 4px;
    background-color: rgba(128, 128, 128, 0.607);
}

