.tabs-div {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 32px;
}

.search-page h2 {
    color: var(--light-gray);
    text-align: center;
}


@media screen and (max-width: 450px) {
    .tabs-div {
        margin-top: 8px;
        margin-bottom: 16px;
    }
}