.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-background-color);
    width: 14rem;
    height: 17rem;
    font-family: "Inknut Antiqua";
    border-radius: 0.5rem;
    margin: 0px 2px;
    cursor: pointer;
}

.card:hover{
    outline: solid white 2px;
}

.title-div{
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 0.5rem;
    z-index: 2;

}

.title-div h3 {
    display: -webkit-box;
    overflow-wrap: anywhere;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 1rem;
    font-weight: 500;
    font-family: "Inknut Antiqua";
    line-height: 1.2rem;
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    width: 14rem;
    height: 14rem;

    /* gap: 1rem; */
    padding: 1rem;

}

.image-container {
    background-color: red;
    font-size: larger;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}