:root {
    --image-preview-width: 172px;
    --image-preview-height: 172px;
}

.main-container {
    height: fit-content;
}

.main-container > input{
    display: none;
}

.image-section{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 8px;
    overflow-y: auto;
    scrollbar-color: var(--input-background-color) var(--background-color);
}

.image-container{
    position: relative;
    display: flex;
    width: var(--image-preview-width);
    height: var(--image-preview-height);
    overflow: hidden;
    border-radius: 4px;
    flex-shrink: 0;

    background-color: var(--input-background-color);

}

.image-container img{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.image-container button {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.image-container button:hover {
    background-color: rgba(0, 0, 0, 0.400);
    color: var(--light-gray);
}

.edit-icon {    
    font-size: 2rem;
}
