:root {
    --dot-animation-speed: 0.7s
    --vertical-dot-translate: 6px
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 0.5rem;
    margin: 3rem auto;
    height: fit-content;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background-color: white;
    
}

#dot-1 {
    background-color: rgb(49, 158, 253);
    animation: first-dot-animation 0.7s ease-in-out infinite;
}

#dot-2 {
    background-color: rgb(115, 255, 115);
    animation: second-dot-animation 0.7s ease-in-out infinite;
}

#dot-3 {
    background-color: rgb(253, 97, 50);
    animation: third-dot-animation 0.7s ease-in-out infinite;
}

@keyframes first-dot-animation {
    0% {
        translate: 0px -6px
    }
    25% {
        translate: 0px 0px
    }
    50% {
        translate: 0px 6px
    }
    75% {
        translate: 0px 0px
    }
    100% {
        translate: 0px -6px
    }
  }

  @keyframes second-dot-animation {
    0% {
        translate: 0px 0px
    }
    25% {
        translate: 0px 6px
    }
    50% {
        translate: 0px 0px
    }
    75% {
        translate: 0px -6px
    }
    100% {
        translate: 0px 0px
    }
  }

  @keyframes third-dot-animation {
    0% {
        translate: 0px 6px
    }
    25% {
        translate: 0px 0px
    }
    50% {
        translate: 0px -6px
    }
    75% {
        translate: 0px 0px
    }
    100% {
        translate: 0px 6px
    }
  }
