.comment-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    min-height: 30vh;
    margin-bottom: 20vh;
}

.comment-container h1 {
    font-family: "Inknut Antiqua";
    font-size: 1.3rem;
    font-weight: 400;
}

.comment-container > p {
    color: var(--light-gray);
    font-size: large;
    text-align: center;
    line-height: 0.8rem;
}