.answers-div {
    display: flex;
    flex-direction: column;

    gap: 16px;
    margin-left: calc(var(--img-width));
}

.answers-div > button {
    cursor: pointer;
    background: none;
    border: none;
    width: fit-content;
    color: var(--light-gray);
    font-size: medium;
}

.answers-div > button:hover {
    color: white;
}

@media screen and (max-width: 450px) {
    .answers-div {
        margin-left: calc(var(--img-width-mobile));
    }

    .answers-div > button {
        font-size: 0.8rem;
    }

}