:root{
    --img-width: 42px;
    --img-width-mobile: 32px
}

.comment-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    border-left: solid var(--dark-gray) 2px;
    padding-left: 16px;
    position: relative;
}

.content-div {
    width: 100%;
}

.author-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.author-div p {
    color: var(--dark-gray);
    margin-top: 5px;
}

.image-container{
    position: relative;
    display: flex;
    width: var(--img-width);
    height: var(--img-width);
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
}

.image-container img{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.author-div a {
    font-family: "Inknut Antiqua";
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.0rem;
    color: var(--light-gray);
    text-decoration: none;

    /* background-color: aqua; */
}

.author-div a:hover {
    color: white;
}

.comment-div p{
    overflow-wrap: anywhere;
    margin-left: calc((var(--img-width) / 2) - 1px);
    padding: 16px 16px 16px 0px;
}

.options-column{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    align-self: stretch;

}

.options-column button {
    cursor: pointer;
    background: none;
    border: none;
    color: var(--light-gray);

}

.options-column button:hover {
    color: white;
}

.up-voted {
    color: rgb(255, 255, 255) !important;
}

.down-voted {
    color: rgb(255, 255, 255) !important;
}

.overflow-menu-list button {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.delete-icon {
    font-size: large;
}

@media screen and (max-width: 450px) {
    .image-container {
        width: var(--img-width-mobile);
        height: var(--img-width-mobile);
    }

    .comment-div p{
        margin-left: calc((var(--img-width-mobile) / 2) - 1px);
    }

    .comment-card {
        padding-left: 6px;
    }

    .author-div a {
        font-size: 1rem;
    }

    .author-div p {
        font-size: 0.7rem;
    }
}