@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Colors */
    --background-color: rgb(26, 47, 65);
    --secondary-background-color: rgb(33, 57, 78);
    --input-background-color: rgb(70, 84, 100);

    --button-color: rgb(22, 168, 178);
    --button-active-color: rgb(26, 150, 159);
    --button-hover-color: rgb(30, 184, 195);

    /* --positive-color: rgb(107, 219, 84); */
    --positive-color: rgb(36, 195, 5);
    --warning-color: rgb(247, 234, 85);
    --error-color: rgb(255, 138, 115);

    --inactive-gray-color: rgb(174, 174, 174);
    
    --light-gray: rgb(200, 200, 200); 
    --dark-gray: rgb(138, 138, 138);

    --blue-gray: rgb(128, 139, 152);

    /* Dimensions  */
    --header-width: 100%;
    --header-min-width: 900px;

    --header-height: 5rem;

}

body {
    display: grid;
    background-color: var(--background-color);
    color: white;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

main {
    min-height: 90vh;
    width: 40%;
    min-width: 1000px;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
}

.button{
    width: fit-content;
    padding: 0.7rem 1.3rem;
    color: white;
    background-color: var(--button-color);
    font: bold;
    border-radius: 0.5rem;
    font-size: medium;
    font-weight: 500;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.button:hover{
    background-color: var(--button-hover-color);
}

.button:active{
    background-color: var(--button-active-color);
}

.secondary-button{
    background-color: rgb(36, 195, 5);
}

.secondary-button:hover{
    background-color: rgb(43, 214, 9);
}

.secondary-button:active{
    background-color: rgb(37, 180, 9);
}

.text-button{
    color: var(--light-gray);
    background: none;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.text-button:hover {
    color: white;
}

.negative-button{
    color: var(--light-gray);
    background: none;
    border: none;
    font-size: medium;
    cursor: pointer;
}

.negative-button:hover{
    color: var(--error-color)
}
.error-text{
    color: var(--error-color)
}

.good-review{
    background-color: rgb(91, 200, 60);
    /* background-image: linear-gradient(rgb(91, 200, 60), rgb(61, 131, 42)); */
}
.neutral-review{
    background-color: rgb(222, 189, 80);
}
.bad-review {
    background-color: rgb(255, 77, 77);
}

.good-border:hover{
    outline: solid rgb(91, 200, 60) 2px;
}
.neutral-border:hover{
    outline: solid rgb(222, 189, 80) 2px;
}
.bad-border:hover {
    outline: solid red 2px;
}

@media screen and (max-width: 750px) {
    main{
        min-width: 100%;
        margin: auto;
        font-size: smaller;
    }
    
    .button{
        font-size: small;
        padding: 0.5rem 1.2rem;
    }
}
