.card{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 16px;
    flex: 1;
}

.img-div {
    display: flex;

    border-radius: 8px;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.list-info-div {
    flex: 1;
}

.title-div {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    flex: 1;
    gap: 16px;

}

.title-div h1 {
    font-family: "Inknut Antiqua";
    line-height: 2rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: white;

    text-wrap: wrap;
}

.title-div h1:hover {
    color: var(--light-gray);
}

.title-div a {
    text-decoration: none;
    color: var(--blue-gray);
    text-wrap: nowrap;
}

.title-div a:hover {
    color: var(--light-gray);
}

.see-more {
    margin-top: 5px;
}

.description-div a {
    text-decoration: none;
    color: var(--blue-gray);
    font-size: large;
}

.description-div a:hover {
    color: var(--light-gray);
}

.description-div p {
    margin-top: 3px;
    color: var(--light-gray);
}

@media screen and (max-width: 750px) {
    .img-div {
        width: 128px;
        height: 128px;

    }

    .title-div h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .card {
        gap: 8px;
    }

    .img-div {
        width: 60px;
        height: 60px;

    }

    .title-div h1 {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    .title-div a {
        font-size: 0.7rem;
    }

    .description-div a {
        font-size: 0.9rem;
    }

}