.tabs-div {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 32px;
}

.posts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.posts-list li {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .posts-list {
        gap: 10px;
    }
    
    .posts-list li {
        padding: 10px;
    }

    .tabs-div {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
