.card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* width: 224px; */
    height: fit-content;

    overflow: hidden;

    border-radius: 8px;
    cursor: pointer;
    margin: 0px 2px;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    flex-wrap: nowrap;
    background-color: var(--secondary-background-color);
}

.info h3 {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Inknut Antiqua";
    line-height: 1.2rem;
}

.title-container h3{
    overflow-wrap: anywhere;
}

.img-container {
    margin-top: 48px;
    width: 224px;
    height: 224px;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.rating-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 19px;
    width: 2rem;
    height: 2rem;
    color: white;
}

.rating-box h3 {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Roboto";
}

